<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491058434002-1omvq5edctsfg7aioeda3lrs40sjukbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491058434002-1omvq5edctsfg7aioeda3lrs40sjukbd</string>
	<key>API_KEY</key>
	<string>AIzaSyDFwm71NsQXu5SUfZbZ7tOnXY5hsxR_Q1A</string>
	<key>GCM_SENDER_ID</key>
	<string>491058434002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DanielB.Score</string>
	<key>PROJECT_ID</key>
	<string>score-board-55d41</string>
	<key>STORAGE_BUCKET</key>
	<string>score-board-55d41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491058434002:ios:bae6eeffb8e301743e020b</string>
</dict>
</plist>